<!DOCTYPE html>

<html>

<head>
    <title>Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <style>
        #box{
            background-color: #fff;
            margin-top: 1rem;
            padding: 1.3rem;
            border: solid #0000;      
        }
    </style>   
</head>

<body class = "bg-info">
    <div id ='box' class = 'col-md-6 offset-md-3'>
        {{{body}}}
    </div>

</body>

</html>
